<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30689824720-o6i63mai9vr7fv6r50dp5rk82pmq9se5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30689824720-o6i63mai9vr7fv6r50dp5rk82pmq9se5</string>
	<key>API_KEY</key>
	<string>AIzaSyBvv62U9c69B6mpAvvPuYpzJgKhSB0qWuw</string>
	<key>GCM_SENDER_ID</key>
	<string>30689824720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.me2software.PinTube</string>
	<key>PROJECT_ID</key>
	<string>pintube-ac2f8</string>
	<key>STORAGE_BUCKET</key>
	<string>pintube-ac2f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30689824720:ios:d1ec8d39371c600e</string>
	<key>DATABASE_URL</key>
	<string>https://pintube-ac2f8.firebaseio.com</string>
</dict>
</plist>